.toast-message {
    animation-name: toast;
    animation-duration: 3s;
    width: 100%;
    position: fixed;
    top: -100px;
}

@keyframes toast {
    from {
        top: -100px;
    }
    25% {
        top: 0;
    }
    75% {
        top: 0;
    }
    to {
        top: -100px;
    }
}

.delete, .edit {
    cursor: pointer;
}

.priority-urgent, .difficulty-hard, .status-todo {
    color: #FF0000;
    font-weight: bold;
}

.priority-high, .difficulty-normal, .status-in-progress {
    color: #FFA500;
    font-weight: bold;
}

.priority-medium, .difficulty-easy, .status-done {
    color: #008000;
    font-weight: bold;
}

.priority-low {
    color: #0000FF;
    font-weight: bold;
}

.hidden {
    display: none;
}
